
html {
  font-family: "Libre Baskerville", serif;
}

article {
  width: 47em;
  margin: 0 auto;
}

header {
  background-color: #259f95;
  color: #fff;
  padding: 1em;
  border-radius: 0 0 5px 5px;
  line-height: 1.5em;
  font-weight: lighter;
}

.chapter-num {
  font-style: oblique;
  font-size: 1rem;
  width: 100%;
  display: block;

}

.colon {
  display: none;
}

p{
  text-indent: 1.5em;
}

img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #1e7c74;
}

footer {
  background-color: #259f95;
  border-radius: 5px 5px 0 0;
  padding: 1em;
  text-align: center;
  color: #fff;
}
